.btnPrev {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20vw, -50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // font-size: 0;
    padding-left: 20px;
    cursor: pointer;

    span {
        font-size: 18px;
        color: #fff;
        opacity: 1;
        transition: 0.5s;
    }

    &::before, &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        left: 0px;
        top: 50%;
        left: 0px;
        transform-origin: left center;
        transform: rotate(-180deg);
        transition: 0.5s;
    }

    &::after {
        transform: rotate(180deg);
    }

    &:hover {
        span {
            transform: translate(100%, 0);
            opacity: 0;
        }

        &::before {
            transform: rotate(-30deg);
        }

        &::after {
            transform: rotate(30deg);
        }
    }
}

.btnNext {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20vw, -50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // font-size: 0;
    padding-right: 20px;
    cursor: pointer;

    span {
        font-size: 18px;
        color: #fff;
        opacity: 1;
        transition: 0.5s;
    }

    &::before, &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 0px;
        transform-origin: right center;
        transform: rotate(-180deg);
        transition: 0.5s;
    }

    &::after {
        transform: rotate(180deg);
    }

    &:hover {
        span {
            transform: translate(-100%, 0);
            opacity: 0;
        }

        &::before {
            transform: rotate(-30deg);
        }

        &::after {
            transform: rotate(30deg);
        }
    }
}
