/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*font-family: 'Oswald', sans-serif;*/

/*Reset*/
@import "reset";


/*COMMON*/

body {
    font: 16px/1 "Oswald";
}

/*UI*/

figure {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(25deg, dodgerblue, rgb(71, 255, 255));
    overflow: hidden;

    h1 {
        position: absolute;
        top: 7vh;
        left: 4vw;
        text-align: center;
        // font-size: 0;

        strong {
            font-size: 40px;
            color: #fff;
            letter-spacing: 1px;
        }

        span {
            font-size: 18px;
            color: black;
            opacity: 0.8;
        }
    }

    .menu {
        position: absolute;
        top: 8vh;
        right: 5vw;
        font-size: 20px;
        color: rgb(64, 64, 182);
    }

    @import "panel";
    @import "btns";
    
    >p {
        position: absolute;
        bottom: 7vh;
        left: 50%;
        transform: translate(-50%, 0);
        color: #fff;
    }
}